@media screen {
  #page-footer {
    display: none !important;
  }
}



@media print {

  @page {
    size: legal landscape;
    margin: none;
  }


  html, body {
    height: 100%;
  }

  body * {
    visibility: hidden;
  }
  table{
    width: 100%;
  }
  
  #printArea, #printArea * {
    visibility: visible;
  }
  #printArea {
    left: 0;
    top: 0 !important;
    width: 100%;
    min-height: 800px;
    height: 100%;
    bottom: 0;
    float: none;
  }

  .pull-left {
    left: 0;
  }

  .pull-right {
    right: 0;
  }

  page-break-before: always;

  #page-footer {
    position: fixed;
    bottom: 0;
  }

}